.background {
    background-image: url(/AME-470/assets/images/FlexPod-LA-blue.jpg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.title {
    text-align: center;
    top: 50%;
    position: relative;
    font-weight: bold;
    color: #ffffff;
}