.tab {
    cursor: pointer;
}
.info {
    display: none;
}
.info.default {
    display: inline-block;
}
.resHeader, #accordion {
    text-align: center;
}
#resList {
    margin-left: 0px;
}
#resList li {
    list-style: none;

}
.tab h2 {
    color: #ff4200;
}
button.tab {
    background-color: #eee;
    color: #F00;
    cursor: pointer;
    padding: 18px;
    width: 20%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    display: block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.tab.active, button.tab:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.info {
    padding: 0 18px;
    background-color: white;
    display: none;
}